# -*- mode: snippet -*-
# contributor: HairyRabbit <yfhj1990@hotmail.com>
# name: init
# key: i
# --
# -*- mode: snippet -*-
# contributor: ${1:`(concat (getenv "USER_NAME") " <"  (getenv "USER_EMAIL") ">")`}
# name: $2
# key: ${3:$2}
# --
$0