# -*- mode: snippet -*-
# contributor: HairyRabbit <yfhj1990@hotmail.com>
# name: new
# key: c
# --
# -*- mode: snippet -*-
# contributor: HairyRabbit <yfhj1990@hotmail.com>
# name: $1
# key: $2
# --
$0