# -*- mode: snippet -*-
# contributor: HairyRabbit <yfhj1990@hotmail.com>
# name: react es6 class component
# key: rcc
# --
class ${1:ClassName} extends React.Component {
  render() {
    const { $0 } = this.props

    return (
      ${2:<div></div>}
    )
  }
}